<app-card [titulo]="'responsvel-list'">

</app-card>
<div class="card-container">
    <p-card class="card-list" header="Lista Responsavel" [style]="{'width': '25rem', 'margin-bottom': '2em'}">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        </p>
        <p-button label="Visualizar listagem" icon="pi pi-check"></p-button>

    </p-card>

    <p-card class="card-form" header="Formulario de Cadastro" [style]="{'width': '25rem', 'margin-bottom': '2em'}">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        </p>
        <p-button label="Cadastrar novo" icon="pi pi-check"></p-button>

    </p-card>
</div>